<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full h-full bg-zinc-900 p-10 text-white">  
        <div class="nav mb-10">
            <a href="/read" class="text-blue-500">Read Users</a>
        </div>
        <h1 class="text-3xl tracking-tighter mb-3">Update User</h1>
        <form action="/update/<%=user._id%>" method="post">
            <input  class="px-5 py-2 text-blue-500 border-zinc-800 outline-none rounded " name="name" placeholder="name" value="<%=user.name%>">
            <input  class="px-5 py-2 text-blue-500 border-zinc-800 outline-none rounded" name="email" placeholder="email" value="<%=user.email%>">
            <input type="text" class="px-5 py-2 text-blue-500 border-zinc-800 outline-none rounded" name="image" placeholder="imageurl" value="<%=user.image%>">
            <input type="submit" class="px-5 py-2 bg-yellow-500 rounded-lg ml-3" value="Update User" >
        </form>
    </div>
</body>
</html> 